#box1 {
    background-color: yellow;
    width: 500px;
    height: 300px;
    padding: 20px;
    margin: 10px;
    border: green 5px solid;
}

#box2 {
    background-color: gray;
    width: 400px;
    height: 250px;
    /* pedding: 10px, 20px, 30px, 40px; top right botto left (clock)*/
    padding: 10px 20px;
    /* 10px top & bottom , 20px left and right*/
    border: 3px yellow double;
    /*add border for the box*/
}

/* Padding - Distance between the edge of the box with inner element*/
/* Margine - Distance between the edge of the box with neighbour element*/

#box3 {
    background-color: blue;
    width: 300px;
    padding: 10px;
    color: yellow;
    border: red 10px dotted;
    /* set cnter a box */
    /* 1)Ensure the box has a width */
    /* 2)Set margine top = bottom as per your wish, set left-right to auto */
    margin: 10px auto;
}